<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="31070212" android:versionName="1.0.5" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.gettr.gettr" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30"></uses-sdk>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"></action>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"></uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"></uses-permission>
    <uses-feature android:glEsVersion="0x20000" android:required="true"></uses-feature>
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"></uses-permission>
    <application android:label="GETTR" android:icon="res/mipmap-xxxhdpi-v4/ic_launcher.png" android:name="org.getter.GApplication" android:largeHeap="true" android:supportsRtl="true" android:extractNativeLibs="false" android:usesCleartextTraffic="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:isSplitRequired="true" android:requestLegacyExternalStorage="true">
        <activity android:theme="null" android:name="org.getter.MainActivity" android:launchMode="2" android:configChanges="0x40003fb4" android:windowSoftInputMode="0x10" android:hardwareAccelerated="true">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="null"></meta-data>
            <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="res/drawable/launch_background.xml"></meta-data>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/*"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="image/*"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="image/*"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="https"></data>
                <data android:host="www.gettr.com"></data>
            </intent-filter>
        </activity>
        <activity android:theme="null" android:name="org.getter.MaskActivity" android:screenOrientation="1"></activity>
        <activity android:theme="null" android:name="com.yalantis.ucrop.UCropActivity"></activity>
        <activity android:theme="null" android:name="com.getter.video.edit.TrimmerActivity"></activity>
        <meta-data android:name="flutterEmbedding" android:value="2"></meta-data>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="res/drawable-xhdpi-v4/ic_notification.webp"></meta-data>
        <meta-data android:name="android.max_aspect" android:value="2.4"></meta-data>
        <meta-data android:name="android.notch_support" android:value="true"></meta-data>
        <meta-data android:name="notch.config" android:value="portrait|landscape"></meta-data>
        <provider android:name="org.getter.GFileProvider" android:exported="false" android:authorities="com.gettr.gettr.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="res/xml/file_paths_public.xml"></meta-data>
        </provider>
        <service android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingBackgroundService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"></service>
        <service android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>
        <receiver android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:io.flutter.plugins.firebase.messaging.FlutterFirebaseAppRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:io.flutter.plugins.firebase.crashlytics.FlutterFirebaseAppRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:io.flutter.plugins.firebaseanalytics.FlutterFirebaseAppRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:io.flutter.plugins.firebase.core.FlutterFirebaseCoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"></meta-data>
        </service>
        <provider android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingInitProvider" android:exported="false" android:authorities="com.gettr.gettr.flutterfirebasemessaginginitprovider" android:initOrder="99"></provider>
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"></receiver>
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"></action>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"></action>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"></action>
            </intent-filter>
        </receiver>
        <service android:name="com.example.r_upgrade.common.UpgradeService"></service>
        <provider android:name="com.example.r_upgrade.RUpgradeFileProvider" android:exported="false" android:authorities="com.gettr.gettr.fileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="res/xml/provider_paths.xml"></meta-data>
        </provider>
        <activity android:theme="null" android:name="com.pichillilorenzo.flutter_inappwebview.in_app_browser.InAppBrowserActivity" android:configChanges="0x400035b4"></activity>
        <activity android:theme="null" android:name="com.pichillilorenzo.flutter_inappwebview.chrome_custom_tabs.ChromeCustomTabsActivity"></activity>
        <receiver android:name="com.pichillilorenzo.flutter_inappwebview.chrome_custom_tabs.ActionBroadcastReceiver"></receiver>
        <meta-data android:name="io.flutter.embedded_views_preview" android:value="true"></meta-data>
        <provider android:name="io.flutter.plugins.share.ShareFileProvider" android:exported="false" android:authorities="com.gettr.gettr.flutter.share_provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="res/xml/flutter_share_file_paths.xml"></meta-data>
        </provider>
        <activity android:theme="@1030007" android:name="io.flutter.plugins.urllauncher.WebViewActivity" android:exported="false"></activity>
        <provider android:name="ly.img.android.IMGLYAutoInit" android:enabled="false" android:exported="false" android:authorities="com.gettr.gettr.IMGLYAutoInit"></provider>
        <activity android:name="org.getter.matisse.ui.MatisseActivity"></activity>
        <activity android:name="org.getter.matisse.internal.ui.AlbumPreviewActivity"></activity>
        <activity android:name="org.getter.matisse.internal.ui.SelectedPreviewActivity"></activity>
        <uses-library android:name="android.test.runner" android:required="false"></uses-library>
        <uses-library android:name="android.test.base" android:required="false"></uses-library>
        <uses-library android:name="android.test.mock" android:required="false"></uses-library>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>
        <activity android:theme="null" android:name="com.facebook.FacebookActivity" android:configChanges="0x5b0"></activity>
        <activity android:name="com.facebook.CustomTabMainActivity"></activity>
        <activity android:name="com.facebook.CustomTabActivity"></activity>
        <activity android:theme="@1030007" android:label="LightCompressorLibrary" android:name="ly.img.android.pesdk.ui.activity.PhotoEditorActivity" android:exported="true" android:screenOrientation="1" android:configChanges="0x430" android:windowSoftInputMode="0x20" android:hardwareAccelerated="true"></activity>
        <activity android:theme="@1030007" android:label="LightCompressorLibrary" android:name="ly.img.android.pesdk.ui.activity.EditorActivity" android:exported="true" android:screenOrientation="1" android:configChanges="0x430" android:windowSoftInputMode="0x20" android:hardwareAccelerated="true"></activity>
        <activity android:theme="@1030007" android:label="LightCompressorLibrary" android:name="ly.img.android.pesdk.ui.activity.VideoEditorActivity" android:exported="true" android:screenOrientation="1" android:configChanges="0x430" android:windowSoftInputMode="0x20" android:hardwareAccelerated="true"></activity>
        <provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.gettr.gettr.FacebookInitProvider"></provider>
        <receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.facebook.CampaignTrackingReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"></receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"></service>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"></service>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"></meta-data>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.gettr.gettr.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"></provider>
        <meta-data android:name="com.google.android.gms.version" android:value="12451000"></meta-data>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"></meta-data>
        </service>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"></service>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"></receiver>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"></meta-data>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"></meta-data>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"></meta-data>
        <meta-data android:name="com.android.vending.splits" android:resource="res/xml/splits0.xml"></meta-data>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"></meta-data>
    </application>
</manifest>